<article class="component">
  <div ng-repeat="location in ctrl.locations">
    <p>Location: {{location}}</p>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-location">
          <div class="card-block">
            <h2>{{location.estName}}</h2>
            <p class="form-group">
              <label for="">Select Month</label>
              <input type="text" class="form-control" placeholder="Month">
            </p>
            <p class="form-group">
              <label for="">Total Sales</label>
              <input type="text" class="form-control" placeholder="Enter your total alochol sales.">
            </p>
            <button class="btn btn-primary">Make Payment</button>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Month</th>
              <th>Sales</th>
              <th>Taxes</th>
              <th width="100">View</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payment in location.payments">
              <td>{{payment.month}}</td>
              <td>${{payment.totalSales}}</td>
              <td>${{payment.taxDue}}</td>
              <td><a href="/">View PDF</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
