<article class="component">
  <div ng-repeat="location in ctrl.locations">
    <!--<p>Payment: {{ctrl.location.payment}}</p>-->
    <div class="row">
      <div class="col-md-6">
        <div class="card card-location">
          <div class="card-block">
            <h2>{{location.estName}}</h2>
            <p class="form-group">
              <label for="">Select Month</label>
              <input ng-model='payment.reportMonth' type="text" class="form-control" placeholder="Month">
            </p>
            <p class="form-group">
              <label for="">Gross Sales</label>
              <input ng-model='payment.grossSales' type="text" class="form-control" placeholder="Enter your total alcohol sales.">
            </p>
            <button ng-click="ctrl.updateLocation(location,payment)" class="btn btn-primary">Make Payment</button>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Month</th>
              <th>Sales</th>
              <th>Taxes</th>
              <th width="100">View</th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payment in location.payments">
              <td>{{payment.reportMonth}}</td>
              <td>${{payment.grossSales}}</td>
              <td>${{payment.taxDue}}</td>
              <td><a href={{payment.pdfURL}}>View PDF</a></td>
              <td><a class="btn btn-danger btn-sm" ng-click="ctrl.deletePmt(location, payment, $index)">Delete</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
