<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body ng-app="excise">

<nav class="ex-navbar" ng-controller="navCtrl as $ctrl">

  <a ui-sref="/" class="ex-navbar__brand">Exciser</a>

  <ul class="ex-navbar__nav" ng-show="!$ctrl.user.local.email">
    <li><a ui-sref="login">Login</a></li>
    <li><a ui-sref="signup">Create Account</a></li>
  </ul>

  <ul class="ex-navbar__nav" ng-hide="!$ctrl.user.local.email">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li><a ui-sref="profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>

<main ui-view=""></main>
<!-- Google Maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2HHfApPu5TxaAeOkcAUAnU620hs9OF54&libraries=places"></script>
<!-- Angular & Plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- Exciser -->
<script src="/javascripts/autocomplete.js"></script>
<script src="/javascripts/client.js"></script>
</body>
</html>
