
<section class="homepage">
    <article class="homepage__hero bg-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque error in, porro possimus praesentium sint! A amet culpa distinctio dolorum nam odio reiciendis tempore!</p>

                    <a ui-sref="signup" class="btn btn-lg btn-primary">Get Started</a>
                </div>
            </div>
        </div>

    </article>
    <article class="homepage__three-up">
        <div class="container">
            <div class="row">
                <article class="col-md-4">
                    <div class="icon"></div>
                    <h4>Lorem ipsum dolor sit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, enim.</p>
                </article>

                <article class="col-md-4">
                    <div class="icon"></div>
                    <h4>Lorem ipsum dolor sit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, enim.</p>
                </article>

                <article class="col-md-4">
                    <div class="icon"></div>
                    <h4>Lorem ipsum dolor sit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, enim.</p>
                </article>

            </div>
        </div>
    </article>

    <article class="homepage__cta-well bg-faded">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>Find Your Business</h1>
                    <div class="text-muted">Find your business to get started!</div>
                    <form role="form" class="form-inline">
                        <input placeholder="Enter your business name."
                               class="form-control"
                               g-places-autocomplete
                               ng-model="place"
                               ng-value="place.name"/>
                        <button class="btn btn-primary">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </article>

    <footer class="homepage__footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 about">
                    <h5>Exciser</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, libero!</p>
                </div>

                <div class="col-md-4">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5>Annoucements</h5>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Sign Up</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </footer>
</section>


