
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form name="form" ng-submit="$ctrl.signup()" role="form">
                <h1>{{ $ctrl.title }}</h1>
                <hr/>
                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="email">Email</label>
                    <input type="text" name="signup_email" id="email" class="form-control" ng-model="$ctrl.user.signup_email" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password">Password</label>
                    <input type="password" name="signup_password" id="password" class="form-control" ng-model="$ctrl.user.signup_password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2" class="form-control" ng-model="$ctrl.password2" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || $ctrl.dataLoading" class="btn btn-primary">Signup</button>
                    <hr>
                    <div class="text-muted">Already have an account?</div>
                    <a ui-sref="login">Login Here</a>
                </div>
            </form>
        </div>
    </div>
</div>

