.dashboard {
  position: relative;
  min-height: 100vh;
  &__view {

    &.ng-enter {
      transition: 300ms;
      transform: translateY(2rem);
      opacity: 0;
    }
    &.ng-enter-active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__main {
    z-index: 10;
    background: #ffffff;
    max-height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    transition: all 300ms ease;
    &.active {
      transform: translateX($sidebar-width);
    }

    @include breakpoint($medium-up) {
      max-width: calc(100% - #{$sidebar-width});
      float: right;
      &.active {
        transform: translateX(0);
      }
    }

    .navbar {
      flex: 1 1 auto;
    }
  }

  .component {
    padding: $base-spacing $small-spacing;
    border-bottom: $base-border;

    &__header {
      //margin-bottom: $base-spacing/2;
      margin-bottom: 0;
      p {
        font-size: modular-scale(1);
        max-width: 35rem;
        font-weight: 300;
      }
    }

    &__title {
      font-size: modular-scale(4);
      margin-bottom: $small-spacing/2;
      font-weight: 400;
    }

    &__subtitle {
      font-size: modular-scale(4);
      margin: 0 0 $small-spacing;
      font-weight: 400;
    }

    &__row {
      margin-top: $base-spacing*0.75;
      display: flex;
      flex-wrap: wrap;
      margin-left: $small-spacing*-0.5;
      margin-right: $small-spacing*-0.5;
      .col {
        flex: 1 1 30rem;
        margin: 0 $small-spacing/2 $small-spacing;
        min-width: calc(100% - #{$small-spacing});
        border-top: solid $action-color 4px;
        @include breakpoint($small-up) {
          max-width: calc(100% - #{$small-spacing});
          min-width: calc(100% - #{$small-spacing});
        }
        @include breakpoint($medium-up) {
          min-width: calc(40% - #{$small-spacing});
          max-width: calc(40% - #{$small-spacing});
        }
      }
      .col + .col {
        border-top: 0;
        flex: 1 1 30rem;
        margin: 0 $small-spacing/2 0;
        min-width: calc(100% - #{$small-spacing});
        max-width: calc(100% - #{$small-spacing});
        @include breakpoint($medium-up) {
          min-width: calc(60% - #{$small-spacing});
          max-width: calc(60% - #{$small-spacing});
        }
      }
    }

    &.chart {
      padding: $base-spacing $small-spacing 0;
      color: #ffffff;
      .component__title {
        color: #ffffff;
      }
    }

  }
}

.card {
  border: $base-border;
  border-radius: $base-border-radius;
  h5 {
    font-size: modular-scale(2);
    border-bottom: $base-border;
    margin: 0 0 $small-spacing/2;
    padding-bottom: $small-spacing/2;
  }
  p {
    margin: 0;
  }
  hr {
    margin: $small-spacing/2 0;
  }
  &__body {
    padding: $small-spacing;
  }
  &__footer {
    background: $brand-primary;
    padding: $small-spacing/2 $small-spacing;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
    a {
      color: #ffffff;
    }
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: $small-spacing*-0.5;
  margin-right: $small-spacing*-0.5;
  .card {
    flex: 1 1 auto;
    margin: 0 $small-spacing/2 $small-spacing;
    @include breakpoint($small-up) {
      max-width: calc(50% - #{$small-spacing});
      min-width: calc(50% - #{$small-spacing});
    }
    @include breakpoint($medium-up) {
      min-width: calc(25% - #{$small-spacing});
      max-width: calc(25% - #{$small-spacing});
    }
  }
}

.sidebar {
  position: fixed;
  background: $gray-dark;
  color: $gray-light;
  height: 100vh;
  z-index: 20;
  transform: translateX(-100%);
  transition: all 300ms ease;
  &.active {
    transform: translateX(0);
  }

  @include breakpoint($small-up) {
    min-width: 12rem;
  }

  @include breakpoint($medium-up) {
    transform: translateX(0);
  }

  &__inner {
    width: $sidebar-width;
  }
  hr {
    margin: $small-spacing 0;
    border-color: rgba(white, 0.2);
  }

  h5 {
    color: $gray-lighter;
    font-size: modular-scale(0);
    padding: $small-spacing/2 $small-spacing $small-spacing/2;
    margin: 0;
  }

  li > a {
    display: block;
    padding: $base-spacing*0.25 $small-spacing;
    color: $gray-light;
    transition: all $base-duration $base-timing;
    &:hover {
      margin-left: $small-spacing/8;
      color: #ffffff;
    }
  }

  &__avatar {
    padding: $small-spacing 0 0;
    .image {
      background: $action-color;
      height: 6rem;
      width: 6rem;
      margin: $small-spacing/2 auto $small-spacing/1.5;
      border-radius: 100%;
    }
    a {
      display: block;
      padding: 0 $small-spacing;
      text-align: center;
      color: $gray-light;
      justify-content: space-between;
      align-items: center;
      font-size: modular-scale(0);
      transition: all $base-duration $base-timing;
      span {
        transition: all $base-duration $base-timing;
        color: $gray-light;
        font-size: modular-scale(-1);
      }
      &:hover {
        color: #ffffff;
        span {
          color: $gray-lighter;
        }
      }
    }
  }
}

.main__view {
  position: relative;
  &.ng-enter {
    transition: all 500ms $ease-in-out-quart;
    opacity: 0;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($gray-dark, 1);
      z-index: 100;
    }
  }
  &.ng-enter-active {
    opacity: 1;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(white, 0);
      z-index: 100;
    }
  }
}

#user-form {
  max-width: 24rem;
}