.navbar {
  background: $gray-lighter;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include breakpoint($small-up) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__trigger {
    display: flex;
    align-items: center;
    height: $navbar-height;
    padding: 0 $small-spacing;
    cursor: pointer;
    @include breakpoint($medium-up) {
      display: none;
    }
    &:hover {
      color: $brand-primary;
    }
  }

  &__title {
    display: flex;
  }

  &__trigger {
    color: $gray-dark;
  }

  &__brand {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: modular-scale(1);
    padding: 0;
    @include breakpoint($medium-up) {
      padding-left: $small-spacing;
    }
  }

  &__nav {
    display: flex;
    a {
      display: flex;
      align-items: center;
      color: $gray;
      padding: 0 1.5rem;
      height: $navbar-height;
      font-size: modular-scale(0);
      @include breakpoint($small-up) {
      }
      &:hover {
        color: $brand-primary;
      }
      &.active {
        background: rgba(black,0.1);
      }
    }
    .cta {
      display: none;
      color: #ffffff;
      background: $action-color;
    }
  }
}