.homepage {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30rem;
    color: #fff;
    text-align: center;
    p {
      font-style: italic;
      margin-bottom: $spacer*2;
    }
  }
  &__three-up {
    margin: $spacer*4 0 $spacer*3;
    text-align: center;
    .icon {
      height: 150px;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      background: $brand-primary;
      margin-bottom: $spacer*2;
      border-radius: 150px;
    }
    article {
      margin-bottom: $spacer;
    }
    p {
      font-size: $font-size-sm;
      color: $gray-light;
    }
  }
  &__cta-well {
    padding: $spacer*2 0 $spacer*5;
    .form-inline {
      display: flex;
      margin-top: $spacer*2;

      .form-control {
        flex: 1 1 auto;
      }
    }
  }
  &__footer {
    padding: $spacer*2 0 $spacer*4;
    background: $gray-dark;
    color: #fff;
    .about {
      p {
        max-width: 80%;
      }
    }
    a {
      color: rgba(white, 0.8);
      &:hover {
        color: #ffffff;
      }
    }
  }
}