// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: 'Roboto', $helvetica;
$base-font-weight: 400;
$heading-font-family: $base-font-family;
$heading-font-weight: 400;

$modular-scale-ratio: $minor-third;
$modular-scale-base: 14px;

// Font Sizes
$base-font-size: modular-scale(0);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1.5rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

// Font Colors
$base-font-color: $gray;
$heading-font-color: $gray-dark;
$action-color: $brand-primary;

// Border
$base-border-color: $gray-lighter;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Breakpoints
$small-up: 400px;
$medium-up: 960px;
$large-up: 1100px;

// Navbar
$navbar-height: 3rem;

$sidebar-width: 12rem;